a {
    color: black;
    text-decoration: none;
}


a:hover {
    color: white;
}

a:active {
    color: #ff8c00;
}


a[href*="./index.html"] {
    font-weight: bold;
}



body {
    min-height: 100vh;
    font-family: 'Comic Sans MS', cursive;
    background: linear-gradient(135deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.standart-container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}



.site-name {
    left: 0;
    top: 0;
    opacity: 50%;
}

@keyframes pulse-text {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}


.site-name h1 {
    animation-name: pulse-text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


.navigation {
    display: flex;
    justify-content: end;
}


.navigation > a {
    margin: 0 10px;
}


.main-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3%;
}

.article {
    border-color: hsl(350, 72%, 29%);
    border-style: solid;
    border-width: 7px;
    border-left-style: dashed;
}

.author {
    font-style: italic;
    font-size: smaller;
    font-weight: lighter;
}

.article-image {
    transition-duration: 1s;
    width: 100%;
}

.article-image:hover {
    filter: invert(100%);
}

.our-mision {
    position: relative;
    top: 175px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    overflow-y: scroll;
}

.chief-editor {
    position: relative;
    transition: 1s;
    right: 0;
    bottom: 0;
}

.chief-editor:hover {
    right: 5px;
    bottom: 5px;
    background-color: white;
}

.chief-photo {
    float: right;
}


.chief-editor-info::first-line {
    font-style: italic;
}


#hot-news {
    border-top: 2px solid rgba(128, 128, 128, 0.5);
}


h3 + p {
    line-height: 1.5; 
}



footer[tabindex] {
    transition-delay: 3s;
    transition-duration: 1s;
    width: 60%;
    text-align: center;
    margin-top: 20px;
}


footer[tabindex]:focus {
    transform: scale(1.2) translate(8%);
}

.form {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}